<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 加载配置文件 -->
	<bean id="propertyConfigure" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="app.properties"></property>
	</bean>
	
	<!-- 数据源配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${db.classname}"></property>
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
		<property name="maxIdle" value="${db.maxidle}"></property>
		<property name="maxTotal" value="${db.maxtotal}"></property>
		<property name="maxWaitMillis" value="${db.maxwaitmillis}"></property>
	</bean>
	
	<!-- hibernate 配置开始 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan">
			<list>
				<value>com.wenhuaju.entity</value>
			</list>
		</property>
		<property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"></property>
		<property name="hibernate.format_sql" value="true"></property>
	</bean>
	<!-- hibernate 配置结束 -->
	
	
	<!-- 事务管理配置 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 事务切面配置 -->
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="txPointCut" expression="execution(* com.wenhuaju.service..*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut"/>
	</aop:config> -->
	
	<!-- 使用事务注解@Transactional -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 启动注解 -->
	<context:annotation-config/>
	
	<!-- 扫描实例 -->
	<context:component-scan base-package="com.wenhuaju">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- activiti 配置 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource"></property>
		<property name="transactionManager" ref="transactionManager"></property>
		<property name="databaseSchemaUpdate" ref="true"></property>
		<property name="jobExecutorActivate" ref="false"></property>
		<property name="asyncExecutorEnabled" ref="true"></property>
		<property name="asyncExecutorActivate" ref="false"></property>
		
		<property name="deploymentResources"
			value="classpath*:/org/activiti/spring/test/autodeployment/autodeploy.*.bpmn20.xml" />
		<!-- default: Group all resources into a single deployment and apply duplicate filtering to that deployment -->
		<!-- single-resource: Create a separate deployment for each individual resource and apply duplicate filtering to that deployment -->
		<!-- resource-parent-folder: Create a separate deployment for resources that share the same parent folder and apply duplicate filtering to that deployment -->
		<property name="deploymentMode" value="single-resource"></property>
	</bean>
	
	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration"></property>
	</bean>
	
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService"></bean>
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService"></bean>
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService"></bean>
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService"></bean>
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService"></bean>
	
	
	<!-- shiro 配置 -->
	<bean id="realm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.mgt.DefaultSecurityManager">
		<property name="realm" ref="realm"></property>
	</bean>
	
	
</beans>